* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #A459D1;


    .wrapper {
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        form {
            input {
                border-radius: 20px;
                width: 30vw;
            }
        }

        .container {
            display: flex;
            flex-direction: column;

            &>div {
                border: 1px solid red;
                border-radius: 20px;
                display: flex;
                margin-top: 20px;
                padding: 10px;
                background-color: #F5EAEA;

                &>* {
                    margin: 0 10px 0 10px;
                }
            }
        }
    }
}