:root {
  --primary-color: #1f2937;
  --primary-color-hover: #334155;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #374151;
  color: #1a202c;
  line-height: 1.6;
}

/* Registration and Login */
#registration-container,
#login-container {
  max-width: 350px;
  margin: 100px auto;
  padding: 30px;
  background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;
  background-size: cover;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

#registration-container h1,
#login-container h1 {
  color: #fff;
  text-align: center;
}

/* Logout */
#logout-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
}

::-webkit-input-placeholder {
  color: #DDD;
}

li input[type="text"] {
  margin: auto 10px;
  max-width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #1a202c;
}

#task-input {
  color: #1a202c;
}

/* Button */
button[type="submit"] {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


button[type="submit"] i {
  font-size: 1.2rem;
}
.input-container {
  display: flex;
  align-items: center;
}

#task-input {
  flex-grow: 1;
  margin-right: 10px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in;
}
.alert.error {
  color: #ffffff;
}

.alert.success {
  color:#ffffff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  margin-bottom: 20px;
}

#logged-in-section {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(100, 222, 150, 0.1);
  border-radius: 4px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

ul {
  list-style: none;
}

li {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

button.edit-button,
button.delete-button {
  background-color: transparent;
  border: 0;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

h1#todo-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #4a5568;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  animation: fadeInDown 1.7s ease-in;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Card flip */
#card-container {
  display: grid;
  place-items: center;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background-color: #fff;
}

.back {
  background-color: #fff;
  transform: rotateY(180deg);
}
.flip-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flip-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

button.save-button,
button.edit-button,
button.delete-button
  {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background 0.3s, border-color 0.3s;
}

button.save-button:hover {
  background: rgba(76, 175, 80, 0.5);
  border-color: rgba(76, 175, 80, 0.7);
}

button.edit-button:hover {
  background: rgba(0, 119, 204, 0.5);
  border-color: rgba(0, 119, 204, 0.7);
}

button.delete-button:hover {
  background: rgba(244, 67, 54, 0.5);
  border-color: rgba(244, 67, 54, 0.7);
}

.like-icon  {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  padding: 6px 11px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  transition: background 0.3s, border-color 0.3s;
}

.like-icon:hover{
  background: rgba(240, 236, 6, 0.5);
  border-color: rgba(217, 231, 19, 0.7);
  
}

li.favorite .like-icon {
  color: #e74c3c;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 20px;
  color: #333;
}

.icon-button:hover {
  color: #666;
}

.icon-button:focus {
  outline: none;
}

.edit-button,
.delete-button {
  border: none;
  background-color: transparent;
}


.delete-button{
  border: none;
  background-color: transparent;
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(270deg, #84f2ff, #ffbae8, #84f2ff);
  background-size: 400% 400%;
  animation: gradientAnimation 6s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #4a5568;
  display: inline-block;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

label:hover {
  color: #2d3748;
}

/* Mobilusis */
@media (max-width: 480px) {
  #registration-container,
  #login-container {
    margin: 50px auto;
  }

  li input[type="text"] {
    max-width: 100%;
  }
}

/* Plancete */
@media (min-width: 481px) and (max-width: 768px) {
  #registration-container,
  #login-container {
    margin: 70px auto;
  }

  li input[type="text"] {
    max-width: 75%;
  }
}

/* Dekstop */
@media (min-width: 769px) {
  
}
